.input-field {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-field input {
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 2em;
    padding: 0 10px;
    width: 100%;
}

.input-field label {
    position: absolute;
    font-size: 0.8em;
    top: 5px;
    left: 10px;
    z-index: 999;
    transition: 0.2s ease-in-out;
    color: #ddd;
}

.input-field input:focus {
    background: #f6f6f6;
}

.input-field input:valid {
    background: #e5f2fc;
}

.input-field input:focus+label,
.input-field input:valid+label {
    transform: translateX(-8px) translateY(-20px);
    font-size: 0.7em;
    color: #123456;
}